style.css
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

header {
	background-color: #000000;
	height: 50px;
}

h2 {
	font-size: 14px;
	margin: 5px 0 5px 0;
	text-align: center;
	text-transform: uppercase;
}

.row:before, 
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.row:after {
    clear: both;
}

.container {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
}

header > nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: none;
}

header > nav ul > li> a {
	line-height: 50px;
	padding: 0 20px;
	display: block;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

header > nav ul > li > a:hover {
  	background: #ccc;
 }

header > nav > img {
	padding: 10px 0;
}

header > nav ul > li {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	
}

.hero {
	background-image: url("http://4.bp.blogspot.com/-5g2SwRo-j54/UqHJCZzECwI/AAAAAAAB0pw/LLuAlcrc7fw/s1600/Manarola+Night+Wallpaper.jpg");
	width: 100%;
	min-height: 250px;
	position: relative;
	text-align: center;
	background-size: cover;
	background-position: center;
	overflow: hidden;

}

.hero > .slogan > h1 {
	float: right;
	max-width: 800px;
	background: rgba(255,255,255,0.5);
	color: white;
	margin: 0;
	padding: 20px;
	opacity: 0.6;
	font-weight: 800;
}

.centered {
	font-size: 12px;
	text-align: center;
	padding: 0 10px 0 10px;
}

.feature-icon-youtube i:hover, .feature-icon-youtube i:hover ~ h2  { 
    color: red;
}

.feature-icon-vimeo i:hover, .feature-icon-vimeo i:hover ~ h2 {
    color: #00BFFF;
}

.feature-icon-tripadvisor i:hover, .feature-icon-tripadvisor i:hover ~ h2  {
    color: green;
}

i.fa:hover {
	transform: scale(1.2);
}

[class*="feature-icon-"] {
    text-align: center;
    font-size: 40px;
}

[class*="feature-icon-"] i {
  	background: #E6E6FA;
	border-radius: 10%;
	overflow: hidden;
	padding: 30px;
	margin: 10px auto;
}

[class*="col-"] {
	float: left;
	min-height: 1px;
	padding: 5px;
}

.col-1 {width: 8.334%}
.col-2 {width: 16.66%}
.col-3 {width: 25%}
.col-4 {width: 33.334%}
.col-5 {width: 41.667%}
.col-6 {width: 50%}
.col-7 {width: 58.334%}
.col-8 {width: 66.667%}
.col-9 {width: 75%}
.col-10 {width: 83.334%}
.col-11 {width: 91.667%}
.col-12 {width: 100%}

.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}
.col-offset-11 {margin-left: 100%;}

.welcome {
	text-align: center;
	width: 100%;
	font-size: 15px;
	padding: 10px;
	min-height: 150px;
}

.welcome h1 {
	text-transform: uppercase;
	font-weight: bold;
}

.welcome p {
	color: #A9A9A9;
	font-weight: bold;
	margin: 5px auto;
}

.col-gallery {
	padding: 0;
	margin: 0;
	height: 200px;
	background-color: black;
	position: relative;
}

.gallery-img {
	width: 100%;
	height: 100%;
}

.travel {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

.travel i {
	border: none;
	margin: 5px;
	border-radius: 15%;
	height: 20px;
	width: 20px;
	line-height: 30px;
	font-size: 20px;
	background-color: #EDEDED;
	text-align: center;
	fit: cover;
}


.gallery-img:hover {
	opacity: 0.5;
}

.gallery-img:hover + .layer {
	display: block;
}

.col-2.col-gallery:hover .travel {
display: block;
}

.workers {
	width:100%;
    height: 300px;
}

.team {
	width: 80%;
	border: 0;
	border-radius: 50%;
	margin: 25px;
	cursor: pointer;
	display: inline;
	padding: 10px;
}

.team:hover {
	transform: scale(1.10);
}

.background-grey {
	background-color: #ccc;
	width: 100%;
	height: 100%;
	position: relative;
}

.stick-to-bottom {
    bottom: 0px;
    height: 250px;
    padding: 10px;
}

.big-title {
	font-size: 19px;
	padding: 10px 0 10px 0;
	color: white;
}

.grey-paragraph {
	font-size: 11px;
	padding: 10px 10px 20px 10px;
	color: white;
	margin: 0 auto;
}

.numbers {
	font-size: 42px;
	color: #5bc0ef;
}

.contact {
	background-color: #4e4f51;
    width:100%;
    height: 100%;
}	

.line-header {
	display: block;
	text-align: left;
	overflow: hidden;
	font-size: 22px;
	color: white;
	width:100%;
	font-weight: bold;
	padding: 25px 0px 15px 15px;
}

.line-header > span {
    position: relative;
    display: inline-block;
   	padding: 25px 10px 0 0;
}

.line-header > span:before,
.line-header > span:after {
    content: "";
    position: absolute;
    top: 74%;
    width: 9999px;
    height: 2px;
    background: white;
}

.line-header  > span:before {
    right: 100%;
    margin-right: 15px;
}

.line-header  > span:after {
    left: 100%;
    margin-left: 0px;
    font-size: 15px;
}	

.footer-text {
	color: white;
	font-size: 11px;
    padding: 0 10px 0 15px;
}	

.footer-small{
	font-weight: bold;
	color: white;
	font-size: 11px;
    padding: 0 0 0 15px;
}

.footer-icon {
	width: 15%;
	margin-left: 15px;
	margin-top: 10px;
}

.footer-icon:hover {
	background-color: #fff;
}

footer {
	background-color: #000;
    width:100%;
    height: 50px;
    color: #fff;
    text-align: center;
}	

@media(min-width: 768px) and (max-width: 1199px) {
	header {
		height: auto;
	}
	
	header > nav ul > li {
		display: block;
	}
	
	header > nav ul > li> a {
		display: block;
	}

	header > nav ul {
		float: none;
	}
	


	.hero > .slogan > h1 {
		width: 50%;
	}
	
	.gallery-img {
	 	opacity: 0.5;
	}

	.gallery-img + .layer {
	 	display: block;
	}

	.col-2.col-gallery .travel {
	 	display: block;
	}
	
	.team {
		width: 60%;
	}

	.col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}`
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
	
@media (max-width: 767px){	
	
	.workers {
		height: auto;
	}
	
	header {
		height: auto;
	}
	
		header > nav ul > li {
		display: block;
	}
	.col-2.col-gallery .travel {
		display: block;
	}
	
	.col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}


